*.DS_Store
*.png
*.jpg
*.pdf
*.pptx
*.h5
*.hdf5
*.gif
*.mp4
*.tar.gz
*.tgz
*.tar
*.zip
*.xrm
*.txrm
*.npy
*.npz
*.csv
*.docx
*.xlsx
*.ppt
.idea
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
